<!-- MarkerList完整示例 -->
<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>完整示例</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/demo-center.css" type="text/css">
    <style>
        html,body,#container{
            height: 100%
        }
        .input-item{
            height: 2.2rem;
        }
        .btn{
            width: 6rem;
            margin: 0 1rem 0 2rem;
        }
        .input-text{
            width: 4rem;
            margin-right:1rem;
        }
        [v-cloak]{
            display:none
        }
    </style>
</head>

<body>
<div id="outer-box">
    <div id="container" tabindex="0"></div>
    <div id="panel" class="scrollbar1">
        <div class="top">
            <select id="locals" name="locals" >
                <option value="-1">请选择区域</option>
            </select>
            <input id="is_cell_map" style="margin:10px 5px 5px 0px" type="checkbox" value=""><span>是否显示CELL-MAP</span>
        </div>
        <div class="bottom">
            <ul id="myList">
                <li id="lac" class="poibox" v-for="item in items">
                    <div class="poi-info-left">
                        <div class="poi-info">
                            <span class="poi-price">
                                <input type="checkbox">
                                <font color="#999999"> ${ item.message }</font>
                            </span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
    <ul id="btnList">
        <li>
            <input value="创建区域" type="button" data-enable='!!markerList.getSelectedDataId()' data-eval='markerList.clearSelected()' />
        </li>
        <li>
            <input value="全部选中" type="button" data-enable='!!markerList.getSelectedDataId()' data-eval='markerList.clearSelected()' />
        </li>
        <li>
            <input value="清除数据" type="button" data-enable='markerList.getData().length>0' data-eval='markerList.clearData()' />
        </li>
        <li>
            <input value="编辑区域" type="button" data-enable='markerList.getData().length>0' data-eval='markerList.clearData()' />
        </li>
    </ul>
</div>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=您申请的key值&plugin=AMap.MouseTool,AMap.PolyEditor"></script>

<!-- UI组件库 1.0 -->
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>


<script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
   $(function () {

       var app = new Vue({
           el: '#outer-box',
           delimiters: ['${', '}'],
           data: {
               items: [
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '453456456_34545656' },
                   { message: '234345_657567' }
               ]
           }
       })



       var locals_data = [
           {
               id: 0,
               text: '王府井',
               points:[
                   [1.12,1.33],
                   [1.12,1.33],
               ],
               cent:[2.34,2234]
           },
           {
               id: 2,
               text: '西单',
               points:[
                   [1.12,1.33],
                   [1.12,1.33],
               ],
               cent:[2.44,2234]
           }
       ];
       //################区域下拉框################
       var localSelect = $("#locals")
       localSelect.select2({
           language: {
               inputTooShort: function () {
                   return "无区域数据.";
               }
           },

          // allowClear: true,
          // minimumInputLength: 1,
           width: 'resolve',
           data: locals_data,
           // ajax: {
           //     url: "https://api.github.com/search/repositories",
           //     dataType: 'json',
           //     delay: 250,
           //     data: function (params) {
           //         return {
           //             q: params.term, // search term
           //             page: params.page
           //         };
           //     },
           //     processResults: function (data, params) {
           //         // parse the results into the format expected by Select2
           //         // since we are using custom formatting functions we do not need to
           //         // alter the remote JSON data, except to indicate that infinite
           //         // scrolling can be used
           //         params.page = params.page || 1;
           //
           //         return {
           //             results: data.items,
           //             pagination: {
           //                 more: (params.page * 30) < data.total_count
           //             }
           //         };
           //     },
           //     cache: true
           // },

       });

       localSelect.on('select2:select', function (e) {
           var data = e.params.data;
           console.log("切换")
           console.log(data);
       });

       localSelect.on('select2:close', function (e) {
           console.log("2s内不允许再次切换.")
       });



       //################创建地图################
       var map = new AMap.Map('container', {
           zoom: 20,
           center: [116.43, 39.92],
           resizeEnable: true
       });

       map.setDefaultCursor("crosshair");
       map.setCity("北京");

       //###############创建右键菜单
       var contextMenu = new AMap.ContextMenu();

       //右键放大
       contextMenu.addItem("放大一级", function () {
           map.zoomIn();
       }, 0);

       //右键缩小
       contextMenu.addItem("缩小一级", function () {
           map.zoomOut();
       }, 1);




       //###############绘制多边形
       var mouseTool = new AMap.MouseTool(map)
       mouseTool.polygon({
           strokeColor: "#FF33FF",
           strokeOpacity: 1,
           strokeWeight: 6,
           strokeOpacity: 0.2,
           fillColor: '#1791fc',
           fillOpacity: 0.4,
           // 线样式还支持 'dashed'
           strokeStyle: "solid",
           // strokeStyle是dashed时有效
           // strokeDasharray: [30,10],
       })

       mouseTool.on('draw', function(polygon) {
           // event.obj 为绘制出来的覆盖物对象
           //alert('覆盖物对象绘制完成')
           console.log(polygon.obj.getPath())

       })


       // var path = [
       //     [116.403322, 39.920255],
       //     [116.410703, 39.897555],
       //     [116.402292, 39.892353],
       //     [116.389846, 39.891365]
       // ]
       // editor(map,path)


       //###############GEO绘制###############
       // ajax('https://a.amap.com/jsapi_demos/static/geojson/chongqing.json', function(err, geoJSON) {
       //     if (!err) {
       //         var geojson = new AMap.GeoJSON({
       //             geoJSON: geoJSON,
       //             // 还可以自定义getMarker和getPolyline
       //             getPolygon: function(geojson, lnglats) {
       //                 // 计算面积
       //                 var area = AMap.GeometryUtil.ringArea(lnglats[0])
       //
       //                 return new AMap.Polygon({
       //                     path: lnglats,
       //                     fillOpacity: 1 - Math.sqrt(area / 8000000000),// 面积越大透明度越高
       //                     strokeColor: 'white',
       //                     fillColor: 'red'
       //                 });
       //             }
       //         });
       //
       //         geojson.setMap(map);
       //
       //         log.success('GeoJSON 数据加载完成')
       //     } else {
       //         log.error('GeoJSON 服务请求失败')
       //     }
       // })

   });


   function editor(map,path) {
       var polygon = new AMap.Polygon({
           path: path,
           strokeColor: "#FF33FF",
           strokeWeight: 6,
           strokeOpacity: 0.2,
           fillOpacity: 0.4,
           fillColor: '#1791fc',
           zIndex: 50,
       })

       map.add(polygon)
       // 缩放地图到合适的视野级别
       map.setFitView([ polygon ])

       var polyEditor = new AMap.PolyEditor(map, polygon)

       polyEditor.on('addnode', function(event) {
           log.info('触发事件：addnode')
       })

       polyEditor.on('adjust', function(event) {
           log.info('触发事件：adjust')
       })

       polyEditor.on('removenode', function(event) {
           log.info('触发事件：removenode')
       })

       polyEditor.on('end', function(event) {
           log.info('触发事件： end')
           // event.target 即为编辑后的多边形对象
       })
   }


</script>
</body>

</html>