<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body class="hold-transition login-page">
<input id="addBtn" value="添加">
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://unpkg.com/terraformer@1.0.8"></script>
<script>
   $(function () {

       //区域边界
       var polygon = new Terraformer.Polygon({
           "type": "Polygon",
           "coordinates": [
               [
                   [104.952392578125,35.08395557927643],
                   [105.556640625,33.08233672856376],
                   [107.017822265625,34.00713506435885],
                   [107.105712890625,35.146862906756304],
                   [104.952392578125,35.08395557927643]
               ]
           ]
       });

       //质心列表
       var multipoint = new Terraformer.MultiPoint({
           type:"MultiPoint",
           coordinates:[
               [105.7708740234375,34.69194468425019],
               [106.10595703125,34.687427949314845]
           ]
       });

       //扇形列表
       var multipolygon = new Terraformer.MultiPolygon({
           "type": "MultiPolygon",
           "coordinates": [
               [[[105.96313476562499,34.82282272723702],[106.11145019531249,34.57895241036948],[106.2652587890625,34.836349990763864],[105.96313476562499,34.82282272723702]]],
               [[[105.64453124999999,34.813803317113155],[105.5841064453125,34.492975402501536],[105.92468261718749,34.69646117272349],[105.64453124999999,34.813803317113155]]]
           ]
       });


       $("#addBtn").click(function () {
           polygon.insertVertex([22.670851, 45.13189], 2);
           multipoint.coordinates.push([3,4])
           console.log(multipoint)
       })
       //http://terraformer.io/core/#methods-7
   })
</script>
</body>
</html>